# Specify filepatterns you want git to ignore.
node_modules
uploads
.env
*.sublime-workspace
coverage
.nyc_output
.DS_Store
.vscode/notes.txt
.cache
dist
public/js/facebookPage.js
public/js/*.map