.column.is-one-fifth
  aside.menu
    p.menu-label.has-text-white
      | Darshan CMS
    - if (roles)
      - var uploaderRole = roles.some(role => role === 'admin' || role === 'uploader');
    if (uploaderRole)
      p.menu-label
        | Stage 1 - Upload
      ul.menu-list
        li
          a.page-uploadRawImages(href='/darshan-app/stage1/upload') Upload Raw Images

    - if (roles)
      - var processRole = roles.some(role => role === 'admin' || role === 'processor');
    if (processRole)
      p.menu-label
        | Stage 2 - Process
      ul.menu-list
        li
          a.page-rawUploadedImages(href='/darshan-app/stage2/raw-uploaded-images') Download Raw Uploaded Images
        li
          a.page-uploadProcessedImages(href='/darshan-app/stage2/upload-processed-images') Upload Processed Images

    if (processRole)
      p.menu-label
        | Stage 3 - Launch
      ul.menu-list
        li
          a.page-uploadToFacebook(href='/darshan-app/stage3/facebook') Upload to Facebook
        li
          a.page-uploadToTwitter(href='/darshan-app/stage3/twitter') Upload to Twitter