
.column.is-one-fifth
  aside.menu
    p.menu-label
      | Stage 1
    ul.menu-list
      li
        a.is-active(href='/node/darshan-app/upload') Upload
    p.menu-label
      | Stage 2
    ul.menu-list
      li
        a(href='/node/darshan-app/raw-uploaded-images') See Raw Uploaded Images
    p.menu-label
      | Stage 3
    ul.menu-list
      li
        a Upload
      li
        a Post Online