head
  title= title
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="/darshan-app/css-framework/bulma.min.css" type="text/css")
  link(rel="stylesheet" href="/darshan-app/bulma-calendar/css/bulma-calendar.min.css" type="text/css")
  link(rel="stylesheet" href="/darshan-app/public/styles/main.css" type="text/css")