html
  include includes/head.pug
  body.page-adminUsersAccess
    section.hero.is-fullheight()
      .hero-head
        include includes/header.pug
      .hero-body
        .container.is-fluid
          .columns
            include includes/adminSidebar.pug
            .column
              section.section
                .columns
                  .column.is-vcentered
                    .div-table 
                      form(action="/node/darshan-app/admin/process" method="post")
                        each result in results
                          .columns
                            .column
                              input.input(type="text" readonly="readonly" value=`${result.username}` name="username")
                            .column
                              input.input(type="password" placeholder="Enter new password" name="newPassword")
                            .column
                              if (result.roles.includes('admin'))
                                label.checkbox(for=`admin`)
                                  input.column(id=`admin` type="checkbox" name="roles[]" checked value=`admin`) 
                                  span admin
                              else
                                label.checkbox(for=`admin`)
                                  input.column(id=`admin` type="checkbox" name="roles[]" value=`admin`) 
                                  span admin
                              if (result.roles.includes('uploader'))
                                label.checkbox(for=`uploader`)
                                  input.column(id=`uploader` type="checkbox" name="roles[]" checked value=`uploader`) 
                                  span uploader
                              else
                                label.checkbox(for=`uploader`)
                                  input.column(id=`uploader` type="checkbox" name="roles[]" value=`uploader`) 
                                  span uploader
                              if (result.roles.includes('processor'))
                                label.checkbox(for=`processor`)
                                  input.column(id=`processor` type="checkbox" name="roles[]" checked value=`processor`)
                                  span processor
                              else
                                label.checkbox(for=`processor`)
                                  input.column(id=`processor` type="checkbox" name="roles[]" value=`processor`) 
                                  span processor

                          button.button.is-success(type='submit') Submit

                  .columns.is-vcentered
                    .column

    include includes/footerScripts.pug