html
  include includes/head.pug
  body.page-uploadRawImages
    section.hero.is-fullheight(style="background: url('/public/images/shiva1.jpg');background-repeat:no-repeat;background-size: cover;")
      .hero-head
        include includes/header.pug
      .hero-body
        .container.is-fluid
          .columns.is-mobile.is-centered
            form(action="/darshan-app/login" method="post" enctype="urlencoded")
              .column
                .columns
                  .column.is-vcentered
                    input.input(name='username' type='text' placeholder='Username')
                .columns.is-vcentered
                  .column
                    input.input(name='password' type='password' placeholder='Password')
                    button.button.is-success(type='submit') Submit
      
    include includes/footerScripts.pug
    script(defer='' src='/public/js/uploading-raw-files.js')