html
  include includes/head.pug
  body.page-rawUploadedImages
    section.hero.is-fullheight(style="background: url('/darshan-app/public/images/shiva1.jpg');background-repeat:no-repeat;background-size: cover;")
      .hero-head
        include includes/header.pug
      .hero-body
        .container.is-fluid
          .columns
            include includes/adminSidebar.pug
            .column
              .columns
                .column.is-vcentered
                  .div-table
                    table.table
                      thead
                        tr
                          th
                            abbr(title="Time") Time
                          th
                            abbr(title="Outfit Detail") Outfit Details
                          th
                            abbr(title="Download") Downloads
                      tbody
                        each result in results
                          tr
                            td= result.time
                            td= result.outfitDetails
                            td
                              a(href='uploads/compressed-raw-images/' + result.files) Download Zip

    include includes/footerScripts.pug     