html
  head
    title= title
    link(rel="stylesheet" href="/css/bootstrap.min.css" type="text/css")
  body
    div.container-fluid
      h1= message
      each val in req.files
        img(class='img-thumbnail' src=`/uploads/${val.filename}` style='max-width:200px;')
    script(src="/js/bootstrap.bundle.min.js")