html
  include includes/head.pug
  body.page-uploadToTwitter
    section.hero.is-fullheight(style="background: url('/darshan-app/public/images/shiva1.jpg');background-repeat:no-repeat;background-size: cover;")
      .hero-head
        include includes/header.pug
      .hero-body
        .container.is-fluid
          .columns
            include includes/adminSidebar.pug
            .column
              .columns
                .column.is-vcentered
                  .div-table
                    if (latestDarshanImages.length > 0)
                      form(action="/darshan-app/stage3/twitter/upload" method="post")
                        table.table
                          thead
                            tr
                              th
                                abbr(title="Darshan Date") Darshan Date
                              th
                                abbr(title="Outfit Detail") Outfit Details
                              th
                                abbr(title="Images") Images
                              th
                                abbr(title="Upload") Upload
                          tbody
                            tr
                              td= latestDarshanImages[0].darshanDate
                              td= latestDarshanImages[0].outfitDetails
                              td
                                each image in latestDarshanImages[0].files
                                  figure.image.is-128x128
                                    img(src='/darshan-app/uploads/processed_images/' + image.filename)
                              td 
                                button.button.is-success(type='submit') Upload to Twitter
                    else
                      p No images to upload

    include includes/footerScripts.pug     